.body{
  margin: 0;
  padding: 0;
}
/* Header */
.nav-ul{
  padding: 5px;
  margin: 0;
  background-color: aqua;
}

.nav-ul li {
  display: inline-block;
  padding: 20px;
}
.nav-ul li a{
  color: black;
    padding: 5px;
    text-decoration: none;
}

/* Footer */
.footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: aqua;
}

.register, .product{
  margin-left: 30%;
}

.inputBox{
  display: block;
    margin: 25px;
    padding: 4px;
    width: 300px;
    border: 1px solid aqua;
}

.signUpBtn{
  margin-left: 35px;
    padding: 5px;
    width: 127px;
    background-color: aqua;
    border: 1px solid red;
    cursor: pointer;
}

/* Login Compo */
.login{
  margin-left: 30%;
  margin-top: 100px;
}

.loginBtn{
  margin-left: 35px;
    padding: 5px;
    width: 127px;
    background-color: aqua;
    border: 1px solid red;
    cursor: pointer;
}
/* 
signup and login right */
.nav-right{
  text-align: right;
}

/* logo */
.logo{
  width: 70px;
  float: left;
  margin-left: 5px;
}

/* Add button */
.addBtn{
  margin-left: 35px;
    padding: 5px;
    width: 127px;
    background-color: aqua;
    border: 1px solid red;
    cursor: pointer;
}

.invalid-input{
  color: red;
    display: block;
    margin-left: 20px;
    margin-top: -20px;
}

/* Product List */
.product-list{
  text-align: center;
  margin-top: 50px;
}
.product-list ul li{
  display: inline-block;
  border: 1px solid aqua;
  padding: 5px;
  width: 150px;
}

.product-list ul{
  margin: 0;
}

.search-product-box{
  width: 400px;
  margin: 20px;
  height: 30px;
  border: 1px solid aqua;
  margin-left: 10px;  
}
